
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../assets/Fonts/NeueHaasGrotTextRound-55Roman-Web.woff.ttf);
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MyFont;
  font-weight: 400;
}

#root{
  background-color: #eeeeec;
  overflow-x: hidden;
}


.line {
  width: 30px;
  height: 3px;
  background-color: #9a253c;
  margin-bottom: 20px;
}

.l-header{
  width: 60px;
  background-color: #9a253c;
}

body::-webkit-scrollbar{
  width: 0px;
}

