main {
  .try{
    font-size: 128px;
  }
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-items {
    .product-container {
      display: flex;
      width: 500px;
      padding: 10px;
      margin: 70px 25px;
      background-color: #a62b39;
      cursor: pointer;
      justify-content: space-evenly;
      position: relative;
      .img-product {
        img {
          width: auto;
          height: 300px;
          position: absolute;
          top: -26%;
          left: 0;
          margin-left: 20px;
        }
        margin-right: 50px;
      }
      .details-product {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
          width: 30px;
          height: 30px;
          img {
            height: 100%;
            width: 100%;
          }
        }
        button {
          background-color: rgba($color: #fff, $alpha: 0.3);
        }
      }
    }
  }
}
