*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
}

body a{
  text-decoration: none;
  color: #fff;
}

body p{
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.App-header{
  width: 100%;
  padding: 5px 0;
  margin-top: 0;
  color: #fff;
  border-bottom: 2px solid #fff;
}


.Menu-nav{
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu-nav .Anchors-nav .item-menu-Nav{
  margin: 10px;
}

.Menu-nav .Anchors-nav .item-menu-Nav:hover{
  text-decoration: underline;
}


